:root {

    --primary: #091527;
    --text: #CCD6F6;
    --highlight: #58dee3;
}


* {
    margin: 0;
    padding: 0;
    color: var(--text);
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

section {
    min-height: 100vh;

}

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

nav {
    max-width: 1800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 3em 0;
    align-items: center;
}

nav>div {
    display: flex;
    gap: 2em;

}

nav>div>a {
    padding: 1em 2em;
    border: 2px solid var(--highlight);
    border-radius: 2em;
    font-size: 1.1rem;
    transition: all 0.2s;
    text-decoration: none;
}

nav>div>a:hover {
    background-color: var(--highlight);
    color: black;
}

.home-page {
    background: rgb(9,21,39);
    background: linear-gradient(0deg, rgba(9,21,39,1) 0%, rgba(14,42,83,1) 100%);
    display: flex;
    justify-content: center;
    
  
}
.home-container {
    font-size: clamp(40px, 8vw, 80px);
    max-width: 1500px;
    margin: auto;
    height: 100%;
    width: 100%;
}
.home-page-image {
    position: relative;
    display: inline-block;
    width: clamp(40px, 8vw, 80px);
    height:clamp(40px, 8vw, 80px);
    border-radius: 100%;
    object-fit: cover;
    top: 0.1em;
    left: 0.1em;
    transition: all 0.3s;
}
.home-page-image:hover {
    transform: scale(6);
    z-index: 10;
}